{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .button {
      display: inline-block;
      background-color: #007bff;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      transition: all 0.3s ease;
  }

  .button:hover {
      background-color: #0056b3;
      cursor: pointer;
  }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>wishlist</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'store' %}">Shop</a>
                        <span>wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container " >
        <div class="row d-flex justify-content-center" >
            {% comment %} <div class="col-lg-10 ">
                <div class="shopping__cart__table"> {% endcomment %}
                    {% comment %} <!-- {% if single_product.items %} --> {% endcomment %}
                    
                    {% if not products %} 
                    <tr>
                      <td colspan="4">
                        <h1 class="text-center text-danger m-5 p-5 ">Your wishlist is empty</h1>
                      </td>
                    </tr>
                    {% else %}
                    <table class="table table-hover table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for product in products %}
                          <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="cart-img">
                                  <a href="{{ product.product.get_url }}">
                                    <img src="{{ product.product.images.url }}" alt="" width="100" height="100">
                                  </a>
                                </div>
                                <div class="cart-title">
                                  <h5>{{ product.product.product_name }}</h5>
                                </div>
                              </div>
                            </td>
                            <td>
                              <h6>{{ product.product.price }}</h6>
                            </td>
                            <td>
                              <a  href="{% url 'remove_from_wishlist' product.id %}"  class="btn btn-danger delete-wish" data-item="{{ product.product.id }}">
                                <i class="fa fa-close"></i>
                              </a>  
                              
                              
                            </td>
                            <td>
                              <a href="{{ product.product.get_url }}">
                                <button class="btn btn-primary">View product</button>
                              </a>
                            </td>
                          </tr>
                          

                        {% comment %} {% empty %}   {% endcomment %}
                          
                          {% comment %} <tr>
                            <td colspan="4">
                              {% if not products %}
                              <h1 class="text-center text-danger m-5 p-5 ">Your wishlist is empty</h1>
                              {% endif %}
                            </td>
                          </tr> {% endcomment %}
                          {% endfor %} 
                        </tbody>
                      </table>
                     {% endif %} 
                </div> 
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn" style="text-align: right;">
                            <a class="button"  href="{% url 'store' %}">Continue Shopping</a>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <button class="update-item" data-item="10"><i class="fa fa-spinner"></i> Update cart</button>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</section>

  
  
  
  
  
  
  
  
<!-- Shopping Cart Section End -->
{% endblock %}

